.content {
    width: 980px;
    margin: 0 auto;
    min-height: 620px;
}

.line {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.late_box {
    background: #eef1f8;
    border: 1px solid #298cce;
    border-radius: 5px;
    margin: 10px 0;
    padding-top: 20px;
}

.label {
    display: block;
    width: 408px;
    height: 24px;
    line-height: 24px;
    float: left;
    padding-right: 20px;
    text-align: right;
}

.label b {
    color: red;
}

.input input {
    width: 150px;
    height: 24px;
    font-size: 15px;
}

.btn_box {
    padding-bottom: 1rem;
    text-align: center;
}

.btn_box button {
    width: 125px;
    height: 30px;
    line-height: 15px;
}

.tips_box {
    background: #fffbe5;
    border: 1px solid #fbd800;
    padding: 5px;
    border-radius: 5px;
    color: #666;
}

.tips_box p {
    font-size: 14px;
    line-height: 10px;
}