.main_box {
    margin-top: 50px;
    position: relative;
}

.box_hd {
    height: 40px;
    line-height: 40px;
    background: #3b99fc;
    padding: 0 20px;
    color: #fff;
}

.box_bd {
    border: 1px solid #dedede;
    padding: 20px;
}

.search_box {
    background: #f8f8f8;
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #dedede;
}

.form-control {
    height: 30px;
    width: 150px;
    font-size: 14px;
}

#select_btn {
    line-height: 15px;
    height: 30px;
    width: 150px;
}

.sale_box {
    display: table;
}

.sale_list {
    margin-right: -10px;
}

.sale_list li {
    line-height: 35px;
    float: left;
    width: 220px;
    border: 1px solid #dedede;
    border-radius: 1px;
    padding: 10px;
    margin: 20px 10px 0 0;
}

.sale_station {
    float: left;
    position: relative;
    width: 80px;
    height: 54px;
    border: 2px solid #e4e4e4;
    margin-right: 15px;
}

.sale_station div {
    height: 32px;
    line-height: 32px;
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
}

.sale_time {
    padding-top: 10px;
}

.sale_time div {
    font-size: 18px;
    font-weight: 500;
}

.sale_time div span {
    font-size: 12px;
    color: #999;
}

.tips_box {
    margin-top: 20px;
    border: 2px solid #ffddba;
    background: #fffbf8;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
}

.tips_box p {
    margin: 0;
    line-height: 20px;
    font-size: 13px;
}
