body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #242529;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h6,
.h6 {
    font-size: 0.9rem;
}

.text-gray-400 {
    color: #ced4da !important;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

.text-gray {
    color: #adb5bd;
}



/* navbar */
.navbar {
    padding: 0.5rem 1rem;
    height: 72px;
    color: #4680FF;
}

.navbar .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.33125rem;
    padding-bottom: 0.33125rem;
    margin-right: 1rem;
    font-size: 1.125rem;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

.text-base {
    font-size: 0.9rem !important;
}

.shadow {
    -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
}

.sidebar {
    width: 18rem;
    background: #fff;
    -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
}

.headings-font-family {
    font-family: "Poppins", sans-serif !important;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

.sidebar-link:hover {
    text-decoration: none;
    background: #f5f5f5;
}

.sidebar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    padding: 0.5rem 1.5rem;
}

.sidebar-link[data-toggle="collapse"] {
    position: relative;
}

.sidebar-link i {
    font-size: 1.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-link.active,
.sidebar-link:focus {
    background: #4680ff;
    color: #fff !important;
    text-decoration: none;
}

.text-uppercase {
    letter-spacing: 0.2em;
    color: #4680FF;
}

.card-header {
    padding: 1.5rem 2rem;
    background-color: white;
    border-bottom: none;
    -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
}

.card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-body {
    padding: 2rem;
}

.navbar .icon {
    line-height: 62px;
    margin-left: 3rem;
    font-size: 2.5rem !important;
}

.icon1 {
    line-height: 52px;
    margin-right: 0.8rem;
    font-size: 2rem !important;
}


.form-control {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    font-weight: 400;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.4rem 0.9rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 2rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:not([class*="outline"]):hover,
.btn:not([class*="outline"]):focus {
    color: #fff !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2066ff;
    border-color: #135dff;
}

table tr,th{
    line-height: 3rem;
}

.btn a {
    font-size: 1rem !important;
}
