.main_box {
    margin-top: 50px;
    position: relative;
}

.box_bd {
    border: 1px solid #DEDEDE;
    padding: 20px 19px;
}

.search_box {
    background: #f8f8f8;
    border-radius: 1px;
    padding: 10px;
    border: 1px solid #DEDEDE;
}

.form-control {
    height: 30px;
    width: 150px;
    font-size: 14px;
}

#select_btn {
    line-height: 15px;
    height: 30px;
    width: 150px;
}

.result_box p {
    margin-top: 20px;
    font-size: 16px;
    color: red;
}

.result_box div {
    width: 220px;
    border: 1px solid #DEDEDE;
    border-radius: 1px;
    padding: 14px;
    margin: 20px 10px 0 0;
}

.result i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
    height: 100%;
}

.res_title {
    color: #999;
}

.res_body {
    font-size: 20px;
    font-weight: bold;
}
