* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul, li {
    list-style: none;
}

.header {
    background-color: #fff;
    position: relative;
}

.content {
    width: 1190px;
    margin: 0 auto;
    min-height: 700px;
}

.wrapper {
    width: 1200px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: auto;
}

.header_con {
    height: 80px;
}

.logo {
    float: left;
    margin: 15px 0 0 0;
    padding: 0;
}

.header_right {
    float: right;
    margin: 24px 0 0 0;
    width: 800px;
    height: 40px;
    background-image: url(../img/train.png);
    background-repeat: no-repeat;
    position: relative;
}

.header_search {
    float: left;
    width: 300px;
    margin: 5px 0 5px 100px;
}

.search_bd {
    width: 350px;
    position: relative;
}

.search_input[type=text] {
    float: left;
    height: 30px;
    line-height: 20px;
    border: 1px solid #DEDEDE;
    padding: 6px 10px;
    font-size: 15px;
}

.search_input[type=text]:focus {
    outline: none;
    border-color: #3B99FC;
}

.header_menu {
    float: right;
    padding-right: 10px;
}

.menu_item {
    float: left;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    position: relative;
}

.login {
    color: #3B99FC;
}

.nav_box {
    height: 40px;
    background-color: #3B99FC;
}

.nav {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 40px;
}

.nav_item {
    width: 170px;
    float: left;
}

.nav_a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.nav_a.active {
    background-color: #2676E3;
    color: white;
}

.nav_a:hover:not(.active) {
    background-color: #3685ec;
    color: white;
}

.footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px 0;
    background-color: #666;
    color: #C1C1C1;
    font-size: 14px;
    bottom: 0;
}

.nav_ticket {
    border: 1px solid #acd1f9;
    text-align: center;
}

.nav_ticket li a:hover {
    color: #3B99FC;
    background-color: #fff;
}
