.section_first {
    height: 450px;
    position: relative;
}

.search_index {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -595px;
    padding: 25px;
    width: 410px;
    height: 350px;
    background: #fff;
}

.btn_search {
    height: 50px;
    width: 100%;
    font-size:large;
}

.input_box {
    position: relative;
}

.icon_palce {
    position: absolute;
    top: 10px;
    right: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #c7c6c6;
}

#icon_city_swap {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -70px;
    border: 2px solid #fff;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    background: #ff8201;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}


.menu_list li {
    float: left;
    width: 50%;
    height: 136px;
    padding: 35px 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.menu_icon {
    color: #3b99fc;
    font-size: 35px;
}

.menu_href {
    display: block;
    height: 66px;
}

#menu_border {
    border-right: #3b99fc 1.5px solid;
}

.advice_tab {
    clear: both;
    margin-top: 40px;
    margin-bottom: 55px;
}

.tab_hd {
    height: 40px;
}

.tab_hd ul {
    padding: 0;
    margin-right: -10px;
}

.tab_hd li {
    float: left;
    margin-right: 10px;
}

.tab_hd li.active a {
    background: #3B99FC;
    color: #fff;
}


.tab_hd li a {
    background: #efeff4;
    color: #666;
}


.tab_hd a {
    display: block;
    width: 590px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.advice_tab .tab-item {
    padding: 20px;
    display: none;
}

