<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.dao.StationMapper">

    <cache />

    <resultMap id="station_model" type="station">
        <id property="id" column="station_id"></id>
        <result property="name" column="station_name"></result>
        <result property="cityName" column="c_name"></result>
        <result property="ticketStartSell" column="ticket_start_sell"></result>
    </resultMap>

    <!--增加-->
    <insert id="addStation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_station (station_name,fk_cid,ticket_start_sell)
        VALUES (#{name},#{cityName},#{ticketStartSell})
    </insert>

    <!--删除-->
    <delete id="delStation" parameterType="java.lang.Integer">
        delete from t_station where station_id = #{id}
    </delete>

    <select id="selectAllStation" resultMap="station_model">
        SELECT t1.station_id, t1.station_name, t2.c_name, t1.ticket_start_sell
        FROM t_station t1, t_city t2
        WHERE t1.fk_cid = t2.c_id
        ORDER BY t1.station_id
    </select>

    <resultMap id="city_model" type="city">
        <id property="id" column="c_id"></id>
        <result property="name" column="c_name"></result>
    </resultMap>

    <select id="selectAllCityName" resultMap="city_model">
        SELECT c_id, c_name
        FROM t_city
    </select>

    <select id="selectStationByCondition" resultMap="station_model">
        SELECT t1.station_id, t1.station_name, t2.c_name, t1.ticket_start_sell
        FROM t_station t1, t_city t2
        <where>
            t1.fk_cid = t2.c_id
            <if test="stationName != null">
                and t1.station_name like concat('%',#{stationName},'%')
            </if>
            <if test="cityName != null">
                and t2.c_name like concat('%',#{cityName},'%')
            </if>
        </where>
        ORDER BY t1.station_id
    </select>
</mapper>